<form [formGroup]="signupForm" (ngSubmit)="signup()">
  <div [style]="{ maxWidth: '360px', minWidth: '360px' }" class="lg:w-2/6 md:w-1/2 bg-gray-900 bg-opacity-50 rounded-lg gap-2 p-4 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
    <h2 class="text-white text-lg font-medium title-font mb-5">Sign Up</h2>
    <div class="relative">
      <label for="name" class="leading-7 text-sm text-gray-400">Name</label>
      <input
        type="text"
        formControlName="name"
        id="name"
        name="name"
        placeholder="Type your name"
        class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-purple-900 rounded border border-gray-600 focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        data-np-intersection-state="observed"
      />
      @if(name.invalid && (name.dirty || name.touched)){
        <small
          class="block p-error"
        >
          @if(name.errors?.['required']){
            <div>Name is required.</div>
          }
          @if(name.errors?.['pattern']){
            <div>Your name should only contain letters and spaces</div>
          }
        </small>
      }
    </div>
    <div class="relative ">
      <label for="email" class="leading-7 text-sm text-gray-400">Email</label>
      <input
        type="text"
        formControlName="email"
        id="email"
        name="email"
        placeholder="Type your email"
        class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-purple-900 rounded border border-gray-600 focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        data-np-intersection-state="observed"
      />
      @if (email.invalid && (email.dirty || email.touched)) {
        <small
          class="block p-error"
        >
          @if (email.errors?.['required']) {
            <div>Email is required.</div>
          }
          @if (email.errors?.['email']) {
            <div>Your email should be validly formatted</div>
          }
        </small>
      }
    </div>
    <div class="relative ">
      <label for="password" class="leading-7 text-sm text-gray-400">Password</label>
      <input
        type="password"
        formControlName="password"
        id="password"
        name="password"
        placeholder="Type your password"
        class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-purple-900 rounded border border-gray-600 focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        data-np-intersection-state="observed"
      />
      @if(password.invalid && (password.dirty || password.touched)){
        <small
          class="block p-error"
        >
          @if(password.errors?.['required']){
            <div>Password is required.</div>
          }
          @if(password.errors?.['pattern']){
            <div>Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character.</div>
          }
        </small>
      }
    </div>
    <div class="relative ">
      <label for="confirmPassword" class="leading-7 text-sm text-gray-400">Confirm your password</label>
      <input
        type="password"
        formControlName="confirmPassword"
        id="confirmPassword"
        name="confirmPassword"
        placeholder="Confirm your password"
        class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-purple-900 rounded border border-gray-600 focus:border-purple-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        data-np-intersection-state="observed"
      />
      @if(confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)){
        <small
          class="block p-error"
        >
          @if(confirmPassword.errors?.['required']){
            <div>Confirm your password.</div>
          }
          @if(confirmPassword.errors?.['pattern']){
            <div>Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character.</div>
          }
        </small>
      }
      @if(signupForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid){
        <small
          class="block p-error"
        >
          Password should match
        </small>
      }
    </div>
    <button
      [style]="{ textWrap: 'nowrap' }"
      class="text-white bg-purple-500 border-0 py-2 px-8 w-full mt-2 focus:outline-none hover:bg-purple-600 rounded text-lg"
      [disabled]="signupForm.invalid"
      type="submit"
    >Sign Up</button>
    <p class="text-white text-xs mt-1">Already have an account? <a class="text-purple-200 underline hover:text-purple-400" routerLink="/signin">Sign in</a></p>
  </div>
</form>
