.display-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
/*  box-sizing: border-box;
  width: 100%;

  min-height: 85.4vh;
  padding: 1rem 0px 0px;
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
  position: fixed;
  bottom: 0;*/
}
