<!--@if (showLoaderSig()) {
  <div class="flex justify-content-center align-items-center h-full">
    <app-loading></app-loading>
  </div>
} @else {-->
  <div class="flex justify-content-center align-items-center h-full">
    <div class="display-container w-full">
      @if (isUserAuthenticatedSig()) {
        <app-navbar></app-navbar>
      }
      @if (showLoaderSig()) {
        <app-loading></app-loading>
      } @else {
        <router-outlet></router-outlet>
        <app-alert></app-alert>
      }
    </div>
  </div>
<!--}-->
